<div class='row'>
  <div class='columns small-12'>
    <ul>
      <% @players.sort_by(&:name).each do |player| %>
        <li>
          <%= link_to "#{player.name}(#{player.games.count})", player_path(player) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
